@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Peralta);

.see-box {
box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
background-color: rgba(36,32,33,0.50);
padding: 1%;
margin-top: 100px;
}

body {
	background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;


}

.custom-h1 {
	color: white;
}

.navbar-brand {
	font-family: 'Peralta';
}


